@charset "utf-8";
/* CSS Document */
#content .content-r{
	/*background-color:#EDEFF0;*/
	width:960px;
	height:570px;
	float:left;
	margin-left:45px;
}	
/*表格名字*/
#content .content-r h1{
	width:97%;
	height:45px;
	font-size:24px;
	font-family:inherit;
	/*color:#0F6CAD;*/
	color:#D74A48;
	font-weight:700;
	word-spacing:3px;
	letter-spacing:1px;
	margin-top:1px;
	text-align:right;
	line-height:45px;
	text-shadow:3px 3px 3px #949494;
	background:#f1f1f1;
	border-radius:5px;
}
#content .content-r h1 span{
	padding-right:725px;
	}
#main-content{
	width:900px;
	height:560px;
}
/*表格内容*/	
#main-content form{
	/*margin-top:1px;*/
	background:#fff;
	border-top:2px solid #f5f5f5;
	width:930px;
	height:565px;	
	border:1px solid #f1f1f1;	
	border-radius:4px;
} 
/*表格输入*/
#main-content input{
	width:300px;
	height:25px;
	background:#fff;
	font-size:14px;
	font-weight:normal;
	font-family:inherit;
	color:#000;
	line-height:25px;
	margin-left:10px;
	padding-left:3px;
	padding-top:3px;
	border:1px solid #D5D5D5;
	border-radius:2px;
}
#main-content input:hover{
	border:1px solid #3EB8283;
	}
#main-content input:focus{
	border:2px solid pink;
	}
#main-content .container-left{
	width:400px;
	height:200px;
	float:left;
	margin-left:50px;
	} 
#main-content .container-right
{
	width:400px;
	height:200px;
	float:right;
	margin-right:35px;
	} 	
#main-content .container2{
	width:980px;
	height:180px;
	clear:both;
	}	
#main-content .container1 li{
	width:400px;
	height:35px;
	font-family:inherit;
	font-size:14px;
	color:#333;
	line-height:35px;
	margin-top:25px;	
	}
#main-content .container2 .function,#main-content .container2 .system,#main-content .container2 .inside{
	width:950px;
	height:50px;
	margin-top:20px;
	font-family:inherit;
	font-size:14px;
	color:#000;
	margin-left:35px;
	line-height:50px;
}
#main-content .container2 .function span{
	vertical-align:top;
	width:50px;
	height:50px;
	display:inline-block;
	font-family:inherit;
	font-size:14px;
	/*font-weight:600;*/
	color:#333;
	line-height:50px;
	margin-left:10px;
	}	
#main-content .container2 .function textarea{
	width:765px;
	height:50px;
	margin-left:5px;
	border:1px solid #D6D6D6;
	overflow: hidden;
	}
#main-content .container2 .system select{
	display:inline-block;
	width:765px;
	height:30px;
	background:#fff;
	border:1px solid #D6D6D6;
}

#main-content .container2 .inside input{
	width:760px;
	height:25px;
	font-family:inherit;
	font-size:14px;
	font-weight:200;
	color:#000;
	background:#fff;
	line-height:25px;
	text-indent:5px;
	border-radius:3px;
	}
/*未完成的*/
/*#main-content .container3{
	width:850px;
	height:60px;
	background:#fff;
	margin-left:45px;
	margin-top:20px;
	}
.container3 span{
	vertical-align:top;
	width:80px;
	height:25px;
	display:inline-block;
	font-family:"Times New Roman", Times, serif；
	font-size:14px;
	font-weight:600;
	color:#000;
	line-height:25px;
	margin-left:10px;
	}
#main-content .container3 input{
	width:300px;
	height:25px;
	border:1px solid #D6D6D6;
	border-radius:3px;
	}	
#main-content .container3 ul{
	width:800px;
	height:25px;
	}
#main-content .container3 ul li{width:390px;height:25px;float:left;}*/
#main-content .handin{
	width:90%;
	height:35px;
	background:#fff;
	float:right;
	margin:30px 30px 0 0;
	}	
#main-content .handin #submit{
	width:100px;
	height:35px;
	float:right;
	margin-right:60px;
	word-spacing:10px;
	letter-spacing:8px;
	}	
#main-content .handin #reset{
	width:100px;
	height:35px;
	float:right;
	margin-right:30px;
	word-spacing:10px;
	letter-spacing:8px;
	}		
#main-content .handin #submit a:link,#main-content .handin #submit a:visited,#main-content .handin #submit a:hover,#main-content .handin #submit a:active{
	font-size:12px;
	color:#000;
	text-decoration:none;
}
#main-content .handin #reset a:link,#main-content .handin #reset a:visited,#main-content .handin #reset a:hover,#main-content .handin #reset a:active{
	font-size:12px;
	color:#000;
	text-decoration:none;
}		
	
/*提示*/
#div1{
	width:720px;
	height:20px;
	background:#fff;
	border:1px solid #6CC;
	color:#ABA6C7;
	margin-top:2px;
	}	
#shade{
	background: #000;
	opacity: 0.60;
	filter:alpha(opacity=60);
	height: 950px;
	width: 100%;
	position:fixed;
	top:0;
	left: 0;
	}
#container h6{
	width: 716px;
	height: 400px;
	cursor: pointer;
	position:absolute;
	right: 250px;
	top: 412px;
	z-index: 999;
	}
#submit_c{
	font-family:inherit;
	font-size:18px;
	color:#F30;
	text-align:center;
	margin-top:15px;
	}
.ui-widget-header{
	background:url(../images/ui_header_bg.png);
	border:1px solid #ccc;
	color:#707070;
	}
	
	
	
	
	
	
	
	
	
	