#xgmm {     
 	width: 800px;
	height:650px;          
	float: left;     
	margin: 30px 0 0 1% ; 
	background: white;
} 
#xgmm .input{  
	width:740px;
	height:40px;   
	margin: 35px 0 0 160px;     
	font-size: 18px; 
}
#xgmm .input a{ 
	display:block;    
	color:black;     
	text-decoration: none; 
	margin-left:70px;
	/*border:1px solid blue;*/
	width:83px;
	height:40px;
	float:left;
	padding-left:10px;
	line-height:40px;
	/*margin-right:40px;*/
} 
#content-r  #xgmm .input input{     
	width: 350px;     
	height: 40px;     
	background:url(../images/xgmm.jpg) no-repeat;    
    background-position: 10px 5px; 
    border: 1px solid #D0D6D9;     
    padding-left: 60px; 
	float:right;
	margin-right:163px;
 } 
 #content-r  #xgmm span{
	 display:block;
	 margin-left:270px;
	 }
 #content-r  #xgmm span input{ 
 	display:block;     
 	width: 350px;     
 	height: 40px;     
 	margin:60px auto 0; 
 	border:1px solid #D0D6D9;     
 	padding-left: 60px;     
 /*	background: #33A646; */
 	background:#F30;
 	font-size:18px;     
 	color:#fff;     
 	padding-right:50px; 
 	cursor: pointer;
	border-radius:8px;
	font-weight:600;
	letter-spacing:5px;
	word-spacing:3px;
 } 